{
    "midi": [
        "out:OSC-server"
    ],
    "client-options": [
        "--no-workers"
    ],
    "geometry": {
        "client": {
            "x": 267,
            "y": 97,
            "width": 1305,
            "height": 982
        }
    },
    "last-dir": "C:\\gdrive\\Music\\osc-server",
    "recentSessions": [
        "C:\\gdrive\\Music\\osc-server\\layouts\\transport-panel.json"
    ]
}